<h1><%= pluralize comments.count, "Comment" %> (<%= params[:filter] %>)</h1>
<% comments.each do |comment| %>
  <div class="row-fluid comment-block">
    <div class="span6">
      <div class="<%= "hidden-#{comment.hidden} comment-content" %>">
        <%= render partial: "comments/comment", locals: { comment: comment } %>
      </div>
    </div>

    <div class="span2 pull-right">
      <% if comment.hidden %>
        <%= button_to "Show", comment_path(id: comment.id, hidden: false), method: "put", remote: true, class: "btn" %>
      <% else %>
        <%= button_to "Hide", comment_path(id: comment.id, hidden: true), method: "put", remote: true, class: "btn btn-inverse" %>
      <% end %>
    </div>
  </div>
<% end %>